
.app{
  height:100vh;
  width:100%;
}

.cards{
  color:white;
  width: 50vw;
  text-align: center;
  display: table;
  margin-right: auto;
  margin-left: auto;
  min-width:300px;
}

.register-box{
  display: flex;
  justify-content: center;
}

.register-box input{
  font-size: 1rem;
  padding: 0.5em;
  border-radius: 10px;
  border: none;
  outline: none;
  width: 25vw;
}

.register-button{
  color:white;
  background-color: darkorchid;
  padding: 0.5em 1em;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

.managerHeader{
  color:white;
  text-align:center;
  padding-top: 50px;
}

.logout {
  display: flex;
  justify-content: flex-end; /* Change from 'center' to 'flex-end' */
}
