.game-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color:#B19CD9;
    font-size: 1.25rem;
}

.info{
  text-align: right;
  color: darkpurple;
}

.actions button{
    height: 25px;
    margin-right: 5px;
    padding-inline: 10px;
    border-style: none;
    border-radius: 8px;
    border-color: lightslategrey;
}

.edit{
    background-color: deepskyblue;
    color: white;
}

.delete{
    background-color: darkorchid;
    color: white;
}
